<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div> 
            <form action="/result/" method="post">
                <p>Число 1: <input type="number" name="1"/></p>
                <p>Число 2: <input type="number" name="2"/></p>
                <p><input type="submit" name="посчитать"/></p>
            </form>
        </div>
    </body>
</html>
