<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div> 
            <form action="/summa/" method="post">

                <p>Число 1: <input type="text" name="1"/></p>
                {% for error in errors.a %}
                {{ error }}
                <br>
                {% endfor %}
                <p>Число 2: <input type="text" name="2"/></p>
                {% for error in errors.b %}
                {{ error }}
                <br>
                {% endfor %}
                <p><input type="submit" name="посчитать"/></p>
                <br>
                {{result}}
            </form>
        </div>
    </body>
</html>
